# Superstore Data Analysis 
##### Today I am going to work on Superstore dataset. Analyse the data by **R** and get some usefull insights about the data.

###### firstly set up the working directory

# to see the current working directory
getwd()

In [4]:
# importing
library(tidyverse)
library(here)
library(skimr)
ll the libraaries what I need the most

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

ERROR: Error in library(here): there is no package called 'here'

In [ ]:
# importing the data -- I will always take the master dataset in variable = ** x **
x <- read.csv("superstore.csv")
# View(x)

## Explore Understand and Clean the data

In [ ]:
# see the dimenstion of the dataset
dim(x)

###### Number of observation is : 9996
###### Number of variable is : 22

In [ ]:
# let see all the names of the 22 variables 
names(x)

In [ ]:
# Rename sub.Category varriable name into Sub_Category
x <-x %>% rename(sub_category=Sub.Category)

In [ ]:
# confirmation
names(x)

In [ ]:
# let rename all the variable name to smaller case
names(x) <- tolower(names(x))

In [ ]:
# confirmation
names(x)

In [ ]:
# let see the structure and datatype of variables of data
glimpse(x)

###### now work with each variable

In [ ]:
# change datatype of order_date variable datatype into - date datatype
x$order_date<- as.Date(x$order_date)

In [ ]:
# confirmation
class(x$order_date)

In [ ]:
# change datatype of ship_date variable datatype into - date datatype
x$ship_date<- as.Date(x$ship_date)

In [ ]:
# confirmation
class(x$ship_date)

In [ ]:
# change datatype of ship_mode variable datatype into factor datatype
x$ship_mode<- as.factor(x$ship_mode)

In [ ]:
# confirmation
class(x$ship_mode)

In [ ]:
# change datatype of sales variable datatype into - Numeric datatype
x$sales<- as.numeric(x$sales)

###### NULL value introduced in sales vector

In [ ]:
# let ignore the NULL value for now and do the pending operation
x$sales<- as.numeric(x$sales,na.rm=TRUE)

In [ ]:
# confirmation
class(x$sales)

In [ ]:
# let see again the structure of the data
glimpse(x)

###### there are a x variable which make me dought so let work on it

In [ ]:
# let see the total length of x variable
length(x$x)

In [ ]:
# there have total 9996 obs. 
# let see how many NULL value are there
sum(is.na(x$x))

In [ ]:
# let see how much data hoding that variable
sum( ! is.na(x$x))

###### total 9996 values and 9990 NULL
###### total 6 values are there

In [ ]:
# let locate those values
which( ! is.na(x$x))

In [ ]:
# let see all those obs. and those values understand importancy
x[ which (!is.na(x$x)), ]

###### conclusion : i can't just drop the x variable becaue it hold number 6 values

###### but those values are unidentified and very confusion , what the values belongs to
###### after confirmation i decided to drop this variable

In [ ]:
# now let locate the variable
which(names(x)== "x")

In [ ]:
# let remove that  by creating another variable ( Y)
y<-x[ , -22]

## now working varriable will be : y

In [ ]:
print(" The new dimension is: " )
dim(y)

In [ ]:
# final confirmation 
glimpse(y)

###### all variable name , data type are set 
###### now its time to deep dive inside the data

##### NULL values

In [ ]:
# let check NULL values of each variable
# y <- working data
for ( i in 1:ncol(y)){
    print(paste(" null value of ",names(x[i]),"Obs. ", " index: ",i ))
     print(sum(is.na(y[i])) )
        }

###### let see each variable which have NULL values

In [ ]:
# let see all those data with max null
y[ , c(1:5)]

In [ ]:
# let see with out order_date and ship_date
y[ , -c(3:4)]

###### it undestood that this two column dont have much value right now to analysis , so i decided to drop this two columns -
###### -but also there have null in quantity(1), sales(6), discount(6) and profit ( 1)  
###### but I should not remove all those rows and just ignore when analysis.

In [ ]:
# let store the data without order_date and ship_date
y<- y[ , -c(3:4)]

##### Duplicates

In [ ]:
# just over view the boolean matrix 
duplicated(x)

In [ ]:
# retrive all duplicate obs.
z<-y[duplicated(y), ]
write.csv(z,"see_in_LibreOffice.csv")

In [ ]:
# now remove all the duplicate obs. and make data clean
y<-y[!duplicated(y), ]
# y

##### now the is cleaned and ready to save and Analysis

## Analysis

In [ ]:
# now save the cleaned file 
write.csv(y,"superstore_cleaned.csv")

In [ ]:
# let check the sales variable

In [ ]:
for(i in 1:ncol(y)){
    print(paste("index",i,names(y[i])))}

In [ ]:
y

In [ ]:
for(i in 1:nrow(y)){
    if(duplicated(y[i, ] == FALSE)){
        print("hello")}}

In [ ]:
k